
.contact-no{
    text-align: center;
}
.box-1{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}