h2{
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
 }
 
 .row > div[class*='col-'] {
   display: flex;
 }

.card .img-fit{
    aspect-ratio: 16/9;
    object-fit: cover;
}


.card-body{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text{
    flex-grow: 1;
}

.card{
    cursor: pointer;
}

@media(max-width:767.98px){
    .card .img-fit{
        aspect-ratio: 1.45/1;
    }
    
}
